.nav {
  border-bottom: solid 1px #cecece;
  background: #efefef;

  a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
  }

  a:hover{
    color: #2A70AE;
    text-decoration: underline;
  }

  img {
    height: 1rem;
    margin: 1rem;
    display: inline;
  }

  ul {
    float: right;
    display: flex;
    padding-right: 1.5rem;
    margin-top: 0;
    justify-content: flex-end;
    align-items: center;
    li {
      margin-right: 1rem;
      margin-top: 1rem;
      list-style: none;
      text-decoration: none;
      color: red;
    }
  }
}
